<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value="chrome"/>

    <test name="parametersTest1">
        <classes>
            <class name="BaseTest"/>
        </classes>
    </test>

    <parameter name="browser" value="firefox"/>
    <test name="parametersTest2">
        <classes>
            <class name="BaseTest"/>
        </classes>
    </test>

</suite>